.datatable_paginator {
    margin-top: 30px;
}

.p-datatable-header {
    border-radius: 1em;
}

html, body {
    height: 100%;
    margin: 0;
}

.toast-card {
    @media (max-width: 870px) {
        .p-toast {
            padding-inline: 10px;
        }
    }
}